[user]
    userconfigonly = true
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    ds = diff --staged
    lg = log -p
    lgo = log --oneline
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local
    ls = ls-files
    gpg = config user.signingkey
    personal = !git config user.name \"Ondřej Musil\" && git config user.email \"omusil@gmail.com\"
    apiary = !git config user.name \"Ondřej Musil\" && git config user.email \"ondra@apiary.io\"
    oracle = !git config user.name \"Ondřej Musil\" && git config user.email \"ondrej.musil@oracle.com\"
[core]
    editor = vim

    excludesfile = /Users/freaz/.gitignore_global
[credential]
    helper = osxkeychain
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
[commit]
    gpgsign = true
[github]
	  user = freaz
