[user]
  email = mail@ondrejmusil.cz
  name = Ondřej Musil
  signingkey = AB7B615C18912E9C
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  pager = less
[credential]
  helper = osxkeychain
[commit]
  gpgsign = true
[github]
  user = freaz
[pull]
  ff = only
[init]
  defaultBranch = main
[alias]
  st = status
  co = checkout
  cob = checkout -b
  del = branch -D
  df = diff
  ds = diff --staged
  lg = log -p
  lgo = log --oneline
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local
  ls = ls-files
  gpg = config user.signingkey
  email = config user.email
